<div>
	Bookings View
  
	<table>
	
		<tr>
			<td>
				ID
			</td>
			<td>
				FahrerID
			</td>
			<td>
				Status
			</td>
		</tr>
		
		<tr ng-repeat="(key, booking) in bookings track by $index" ng-click="LoadBookingDetails2(booking)">
			
			<td>
				{{ key }}
			</td>
			
			
			<td>
				{{ booking.customer.name }} {{ booking.customer.familyName }}
			</td>
			
			
			<td ng-switch="booking.status">
				<div ng-switch-when="FUTURE">FUTURE</div>
				<div ng-switch-when="PAST">PAST</div>
			</td>
			
		</tr>
	
	</table>
	
	<br/>
	
	<div ng-switch="currentBooking.available">
		Buchungsdetails
		<!-- Booking Objekt hierfür ist $scope.currentBooking -->
		<div ng-switch-when="false">
			Buchungsdetails sind derzeit nicht verfügbar
		</div>
		
		<div ng-switch-when="true">
			ID: {{ currentBooking.bookingID }}<br/>
			
			Status: {{ currentBooking.status }}<br/>
			
			Vorname: {{ currentBooking.customer.name }}<br/>
			Nachname: {{ currentBooking.customer.familyName }}<br/>
			NutzerID: {{ currentBooking.customer.customerID }}<br/>
			
			Start:<br/>
				Zeit: {{ currentBooking.trip.start.time }}<br/>
				Datum: {{ currentBooking.trip.start.date }}<br/><br/>
				
				Address:<br/>
					{{ currentBooking.trip.start.address.street }}<br/>
					{{ currentBooking.trip.start.address.number }}<br/>
					{{ currentBooking.trip.start.address.zip }}<br/>
					{{ currentBooking.trip.start.address.city }}<br/><br/>
					
			Ende:<br/>
			Zeit: {{ currentBooking.trip.end.time }}<br/>
			Datum: {{ currentBooking.trip.end.date }}<br/><br/>
			
			Address:<br/>
				{{ currentBooking.trip.end.address.street }}<br/>
				{{ currentBooking.trip.end.address.number }}<br/>
				{{ currentBooking.trip.end.address.zip }}<br/>
				{{ currentBooking.trip.end.address.city }}<br/><br/>
				
			Rechnung:<br/>
				ID: {{ currentBooking.invoice.invoiceID }}<br/>
				Status: {{ currentBooking.invoice.paid }}<br/>	<!--Bezahlt oder nicht bezahlt-->
				Preis: {{ currentBooking.invoice.totalAmount }}<br/>
				
				
		</div>
		
	</div>
	
	
	
</div>
