<div class="mainview-container" >
    <div class="" layout="row" layout-wrap>
        <div ng-cloak class="content fullscreen" flex>
            <md-toolbar class="md-hue-2">
                <div class="md-toolbar-tools">
                    <h2 class="md-flex">Rechnungen</h2>
                </div>
            </md-toolbar>
            <md-content flex layout-padding >
                <md-input-container class="md-block">
                    <label> Suche nach Rechnungs ID</label>
                    <input ng-model="searchQuery" my-enter="Enter_Search()"/>
                </md-input-container>

                <div class="scroll">
                    <md-content>
                        <table>
                            <thead>
                                <tr>
                                    <td>ID &nbsp;</td>
                                    <td>Status</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="(key, maintenance) in maintenances track by $index" ng-click="Load_Details(key)">
                                    <td>{{ key }}</td>
                                    <td>{{ maintenance.stateObj.text }}</td>
                                </tr>
                            </tbody>

                            <tfoot>
                                <tr ng-click="Show_AddMaintenance()">
                                    <td colspan="2">
                                        <div class="md-list-item-text" layout="column">
                                            <h4>Neue Instandhaltung hinzufügen</h4>
                                        </div>
                                    </td>
                                </tr>
                            </tfoot>

                        </table>
                    </md-content>
                </div>
            </md-content>

        </div>
        <div style="padding:15px;"></div>

        <div ng-switch="view" ng-cloak class="content booking-right" flex>
            <div ng-switch-when="info" ng-switch="maintenance_selected">
                <md-toolbar class="md-hue-2">
                    <div class="md-toolbar-tools">
                        <h2 class="md-flex">Instandhaltungsdetails</h2>
                    </div>
                </md-toolbar>

                <div ng-switch-when="false">
                    <md-content layout-padding>
                        <h4>W&auml;hlen Sie eine Instandhaltung aus oder f&uuml;gen Sie eine Neue hinzu</h4>
                    </md-content>
                </div>

                <div ng-switch-when="true">
                    <md-content layout-padding ng-switch="currentMaintenance.stateObj.id">
                        <label> Instandhaltungs-ID: {{ currentMaintenance.maintenanceID }} </label>
                        <br/>
                        <label> Status: {{ currentMaintenance.stateObj.text }}</label>
                        <label ng-switch-when="1"> Kilometerstand: {{currentMaintenance.atMileage}}</label>
                        <label ng-switch-when="2"> Datum: {{currentMaintenance.date.date}}</label>
                        <br/>


                        <h4>Fahrzeug-Instandhaltung</h4>
                        <BLOCKQUOTE ng-switch="currentMaintenance.car_maintenance_state">

                            <div ng-switch-when="true" ng-repeat="(key, item) in currentMaintenance.car_maintenance track by $index">
                                <h5> Fahrzeugsinstandhaltungs-ID: {{ item.carMaintenanceID }} </h5>
                                <h5> Fahrzeug-ID: {{ item.carID }} </h5>
                                <h5> Geplantes Datum: {{ item.plannedDate.date }} </h5>
                                <h5 ng-switch="item.endState">
                                    End Datum:
                                    <span ng-switch-when="true">
                                        {{item.completedDate.date}}
                                    </span>
                                    <span ng-switch-when="false">
                                        <form name="form_ChangeEnd">
                                            <input type="date" min="{{item.minEndDate}}" max="{{item.maxEndDate}}" ng-model="item.endDate"/>
                                            <md-button class="md-raised md-primary" disabled="form_ChangeEnd.$invalid" ng-click="SafeEndDate(currentMaintenance.maintenanceID, item.carMaintenanceID, item.endDate)"> Speichern </md-button>
                                        </form>
                                    </span>
                                </h5>

                                <h4>Rechnungselement</h4>
                                <div ng-switch="item.invoice_state">

                                    <BLOCKQUOTE ng-switch-when="true">

                                        <h5>Rechnungs-ID: {{ currentMaintenance.car_maintenance.invoice.invoiceID }}</h5>
                                        <h5>Element-ID: {{ currentMaintenance.car_maintenance.invoiceItemID }}</h5>
                                        <h5>Status: {{ currentMaintenance.car_maintenance.invoice.paidText }}</h5>

                                    </BLOCKQUOTE>

                                    <div ng-switch-when="false">
                                        <BLOCKQUOTE>
                                            <h5> Rechnungselement nicht vorhanden oder abrufen nicht möglich </h5>
                                            <md-button class="md-raised md-primary" ng-click="ShowCarMaintenanceAddPopUp(currentMaintenance.maintenanceID)"> Rechnungselement zuweisen </md-button>
                                        </BLOCKQUOTE>
                                    </div>

                                </div>
                            </div>

                            <div ng-switch-when="false">
                                <h5> Fahrzeug-Instandhaltung kann nicht abgerufen werden </h5>
                            </div>

                        </BLOCKQUOTE>

                        <br/>

                        <md-button class="md-raised md-primary button-to-right" ng-click="ShowCarMaintenanceAddPopUp(currentMaintenance.maintenanceID)" ng-disabled="user_Form.$invalid"> Neues Element </md-button>
                        
                    </md-content>
                </div>
            </div>

            <div ng-switch-when="add">

                <form name="form_NewMain">
                    <md-toolbar class="md-hue-2">
                        <div class="md-toolbar-tools">
                            <h2 class="md-flex">Instandhaltung Hinzuf&uuml;gen</h2>
                        </div>
                    </md-toolbar>

                    <md-content layout-padding>

                        <md-input-container flex-gt-sm>
                            Instandhaltungstyp:
                            <md-menu>
                                <md-button ng-disabled="editDisabled" ng-mouseenter="$mdMenu.open()">{{new_maintenance.stateObj.text}}</md-button>
                                <md-menu-content width="4" ng-mouseleave="$mdMenu.close()">
                                    <md-menu-item ng-repeat="item in maintenanceStates">
                                        <md-button ng-click="new_maintenance.stateObj = item">
                                            {{item.text}}
                                        </md-button>
                                    </md-menu-item>
                                </md-menu-content>
                            </md-menu>
                        </md-input-container>
                    </md-content>

                    <md-content flex layout-padding ng-switch="new_maintenance.stateObj.id">
                        <!--
<md-input-container ng-switch-when="0">
<input type="checkbox" ng-model="new_maintenance.spontan" placeholder="Spontan" ng-required />
</md-input-container>
-->
                        <md-input-container ng-switch-when="1">
                            <input type="number" ng-model="new_maintenance.atMileage" placeholder="Bei Kilometerstand" ng-required />
                        </md-input-container>

                        <md-input-container ng-switch-when="2">
                            <input type="date" ng-model="new_maintenance.date" min="new_maintenance.minDate" value="new_maintenance.date" placeholder="Datum" ng-required />
                        </md-input-container>
                    </md-content>

                    <md-content flex layout-padding>
                        <md-button class="md-raised md-primary button-to-right" ng-disabled="form_NewMain.$invalid" ng-click="Safe_New()"> Speichern </md-button>
                        <md-button class="md-primary md-hue-1 button-to-right" ng-click="Dismiss_New()"> Verwerfen </md-button>
                    </md-content>
                </form>
            </div>
        </div>
    </div>
</div>