
<div class="login-form">

    <div ng-cloak class="content" flex="">
        <md-toolbar class="md-hue-2">
            <div class="md-toolbar-tools">
                <h2 class="md-flex">Adminbereich</h2>
            </div>
        </md-toolbar>

        <md-content flex layout-padding >
            <h4> Willkommen im Adminbereich von eCruise.me </h4>
            <div>
            </div>
        </md-content>

    </div>

    <!--

<div class="login-form content" ng-cloak flex>
<md-toolbar class="md-hue-2">
<div class="md-toolbar-tools">
<h2 class="md-flex toolbar-text">Please login</h2>							
</div>
</md-toolbar>

<md-content layout-padding>	
<md-input-container>
<input type="email" placeholder="E-Mail"  ng-model="login_email" required/>
</md-input-container>
<md-input-container>
<input placeholder="Passwort" type="password" ng-model="login_password" required/>
</md-input-container>
<md-button class="md-raised md-primary button-to-right" ng-click="Login()"> Login </md-button>
</md-content>
</div>
-->
</div>
