<div class="stations-container">
    <div class="" layout="row" layout-wrap>

        <input style="margin-top: 10px;" type="button" id='toggle_heatmap' ng-click="ToggleHeatmap()" value="Auslastung on/off" ng-cloak>
        <div id="map_stations" style="width:50%" class="content fullscreen"></div>

        <div style="padding: 15px;"></div>

        <div class="content" style="width:15%">
            <md-toolbar class="md-hue-2">
                <div class="md-toolbar-tools">
                    <h2 class="md-flex">Ladestationen</h2>
                </div>
            </md-toolbar>
            <md-input-container style="width:100%">
                <input ng-model="searchQuery" my-enter="Enter_Search()" placeholder="Suchen nach ID" />
            </md-input-container>	

            <table>
                <thead>
                    <tr>
                        <td>
                            <h4> ID &nbsp;</h4>
                        </td>

                        <td>
                            <h4> Strasse </h4>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="(key, station) in stations track by $index" ng-click="Load_Details(key)">
                        <td>
                            {{ key }}
                        </td>
                        <td>
                            {{ station.address.street }}
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr ng-click="Show_AddStation()">
                        <td colspan="2">
                            <div class="md-list-item-text" layout="column">
                                <h4>Neue Ladestation hinzufügen</h4>
                            </div>
                        </td>
                    </tr>
                </tfoot>
            </table>
            <!--
<md-button class="md-raised md-primary button-to-right" ng-click="Show_AddStation()"> Hinzufügen </md-button>
-->
        </div>
        <div style="padding: 15px;"></div>

        <div ng-switch="view" class="content" style="width:30%;">

            <div ng-switch-when="info" ng-switch="station_selected">

                <md-toolbar class="md-hue-2">
                    <div class="md-toolbar-tools">
                        <h2 class="md-flex">Station-Informationen</h2>
                    </div>
                </md-toolbar>
                <div ng-switch-when="true" style="padding:15px;">
                    <h4>
                        <md-input-container>
                            <input type="text" placeholder="ID" value="{{ currentStation.stationID }}" ng-disabled="true" />
                        </md-input-container>

                        <md-input-container>
                            <input type="text" placeholder="Slots" value="{{currentStation.slots}}" ng-disabled="true" />
                        </md-input-container>

                        <md-input-container>
                            <input type="text" placeholder="Slots belegt" value="{{currentStation.slotsOccupied}}" ng-disabled="true" />
                        </md-input-container>

                        <md-input-container>
                            <input type="text" placeholder="Strasse" value="{{currentStation.address.street}}" ng-disabled="true" />
                        </md-input-container>

                        <md-input-container>
                            <input type="text" placeholder="Nr" value="{{currentStation.address.number}}" ng-disabled="true" />
                        </md-input-container>
                    </h4>
                </div>
                <div ng-switch-when="false">
                    <h4>W&auml;hlen Sie eine Ladestation aus oder f&uuml;gen Sie eine Neue hinzu</h4>
                </div>
            </div>

            <div ng-switch-when="add" >
                <md-toolbar class="md-hue-2">
                    <div class="md-toolbar-tools">
                        <h2 class="md-flex">Neue Ladestation hinzuf&uuml;gen</h2>
                    </div>
                </md-toolbar>

                <md-content layout-padding>
                    <md-input-container flex-gt-sm>
                        <input type="number" placeholder="Slots insgesamt" min="1" ng-model="new_station.slots" ng-required />
                    </md-input-container>
                    <md-input-container flex-gt-sm>
                        <input type="number" placeholder="Slots belegt" min="0" max="{{new_station.slots}}" ng-model="new_station.slotsOccupied" ng-required />
                    </md-input-container>
                </md-content>

                <md-content layout-padding>
                    <md-input-container flex-gt-sm ng-switch="new_station.address_state">
                        <input ng-switch-when="true" type="text" placeholder="Strasse" ng-model="new_station.address.street" disabled />
                        <input ng-switch-when="false" type="text" placeholder="Strasse" value="Bitte Addresse auswählen" disabled />
                    </md-input-container>
                    <md-input-container flex-gt-sm>
                        <input type="text" placeholder="Nummer" ng-model="new_station.address.number" disabled />
                    </md-input-container>
                </md-content>

                <md-content layout-padding>
                    <input type="text" id='search_input' value="" placeholder="Suchen"/>
                    <div id="map_station_new" style="height: 400px;"></div>
                </md-content>

                <md-content layout-padding>
                    <md-button class="md-raised md-primary button-to-right" ng-click="Safe_New()"> Speichern </md-button>
                    <md-button class="md-primary md-hue-1 button-to-right" ng-click="Dismiss_New()"> Verwerfen </md-button>
                </md-content>
            </div>
        </div>
    </div>
</div>
