<div>

  	<table>
	
		<tr>
			<td>
				ID
			</td>
			<td>
				Nutzer
			</td>
		</tr>
		
		<tr ng-repeat="(key, customer) in customers track by $index" ng-click="Load_Details(key)">
			
			<td>
				{{ key }}
			</td>
			
			
			<td>
				{{ customer.name }} {{ customer.familyName }}
			</td>
			
		</tr>
	
	</table>
	
	<br/>
	
	<input type="button" ng-click="Show_AddCustomer()" value="Hinzufügen"/>
	
	<br/>
	
	<div ng-switch="view">
		
		<div ng-switch-when="info" ng-switch="customer_selected">
			
			Nutzer-Informationen:
			<br/>
			
			<div ng-switch-when="true">
				
				ID: {{ currentCustomer.customerID }}
				<br/>
				Vorname:	<input type="text" ng-model="currentCustomer.name" ng-disabled="true"/>
				Nachname:	<input type="text" ng-model="currentCustomer.familyName" ng-disabled="true"/>
				
				<br/>
				Aktiviert:	<input type="checkbox" ng-model="currentCustomer.activated" ng-disabled="editDisabled"/>
				<br/>
				Verifiziert:	<input type="checkbox" ng-model="currentCustomer.verified" ng-disabled="editDisabled"/>
				<br/>
				ChipID:		<input type="text" ng-model="currentCustomer.chipID" ng-disabled="editDisabled"/>
				<br/>
				E-Mail:		<input type="email" ng-model="currentCustomer.email" ng-disabled="editDisabled" required="true"/>
				<br/>
				Telefon:	<input type="text" ng-model="currentCustomer.phoneNr" ng-disabled="editDisabled"/>
				<br/>
				Adresse:
				<br/>
				Straße:		<input type="text" ng-model="currentCustomer.address.street" ng-disabled="editDisabled"/>
				<br/>
				Nr.:		<input type="text" ng-model="currentCustomer.address.number" ng-disabled="editDisabled"/>
				<br/>
				Stadt:		<input type="text" ng-model="currentCustomer.address.city" ng-disabled="editDisabled"/>
				<br/>
				PLZ:		<input type="number" min="10000" max="99999" ng-model="currentCustomer.address.zip" ng-disabled="editDisabled"/>
				<br/>
				Straße:		<input type="text" maxlength="2" ng-model="currentCustomer.address.country" ng-disabled="editDisabled"/>
				<br/>
				Extra:		<input type="text" ng-model="currentCustomer.address.extra" ng-disabled="editDisabled"/>
				<br/>
				
				<div ng-switch="editDisabled">
					
					<div ng-switch-when="false">
						<input type="button" ng-click="Dismiss_Changes()" value="Verwerfen" />
						<input type="button" ng-click="Safe_Changes()" value="Speichern" />
					</div>
					
					<div ng-switch-when="true">
						<input type="button" ng-click="EnableEditMode()" value="Bearbeiten" />
					</div>
					
				</div>
				
				
			</div>
			
			
			<div ng-switch-when="false">
				Bitte wählen Sie einen Nutzer in der linken Liste aus.
			</div>
			
			
		</div>
		
		
		
		<div ng-switch-when="add">
			
			Nutzer-Angaben:
			<br/>
			<input type="text" placeholder="Vorname" ng-model="new_customer.name" ng-required />
			<br/>
			<input type="text" placeholder="Nachname" ng-model="new_customer.familyName" ng-required />
			<br/>
			<input type="email" placeholder="E-Mail" ng-model="new_customer.email" ng-required />
			<br/>
			<input type="text" placeholder="Telefon" ng-model="new_customer.phoneNr" ng-required />
			<br/>
			<br/>
			Adresse:
			<br/>
			<input type="text" placeholder="Strasse" ng-model="new_customer.address.street" ng-required />
			<br/>
			<input type="text" placeholder="Nummer" ng-model="new_customer.address.number" ng-required />
			<br/>
			<input type="text" placeholder="Stadt" ng-model="new_customer.address.city" ng-required />
			<br/>
			<input type="number" min="10000" max="99999" placeholder="PLZ" ng-model="new_customer.address.zip" ng-required />
			<br/>
			<input type="text" placeholder="Land" ng-model="new_customer.address.country" ng-required />
			<br/>
			<input type="text" placeholder="Zusatz" ng-model="new_customer.address.extra" ng-required />
			
			<br/>
			<br/>
			<input type="button" ng-click="Dismiss_New()" value="Verwerfen"/>
			<input type="button" ng-click="Safe_New()" value="Speichern"/>
			
		</div>
		
	</div>
	
  
</div>
