<div>
Fahrzeug View
  
  <div id="map_vehicles" style="height: 100px;"></div>
  
  <input ng-model="searchQuery" my-enter="Enter_Search()"/>
  
  <table>
	
		<tr>
			<td>
				ID
			</td>
			<td>
				Strasse
			</td>
		</tr>
		
		<tr ng-repeat="(key, vehicle) in vehicles track by $index" ng-click="Load_Details(key)">
			
			<td>
				{{ key }}
			</td>
			
			
			<td>
				{{ vehicle.address.street }}
			</td>
			
		</tr>
	
	</table>
	
	
	<br/>
	
	<input type="button" ng-click="Show_AddVehicle()" value="Hinzufügen"/>
	
	<br/>
	
	
	<div ng-switch="view">
		
		<div ng-switch-when="info" ng-switch="vehicle_selected">
			
			Fahrzeug-Informationen:
			<br/>
			
			<div ng-switch-when="true">
				
				<!--NICHT VERÄNDERBAR-->
				
				ID: {{ currentVehicle.vehicleID }}
				<br/>
				Nummernschild:	<input type="text" ng-model="currentVehicle.licensePlate" ng-disabled="true"/>
				<br/>
				
				Hersteller:	<input type="text" ng-model="currentVehicle.manufacturer" ng-disabled="true"/>
				<br/>
				Modell:	<input type="text" ng-model="currentVehicle.model" ng-disabled="true"/>
				<br/>
				Baujahr:	<input type="number" ng-model="currentVehicle.constructionYear" ng-disabled="true"/>
				<br/>
				Kilowatt:		<input type="number" ng-model="currentVehicle.kilowatts" ng-disabled="true"/>
				<br/>
				<br/>
				
				
				<!--VERÄNDERBAR AUßER DATE UND BATTERIESTAND-->
				<br/>
				Ladestatus:		<input type="text" ng-model="currentVehicle.chargingState" ng-disabled="editDisabled"/>
				<br/>
				Batteriestand:	<input type="number" ng-model="currentVehicle.chargeLevel" ng-disabled="true"/>
				<br/>
				Buchungsstand:	<input type="text" ng-model="currentVehicle.bookingState" ng-disabled="editDisabled"/>
				<br/>
				Strasse		<input type="text" ng-model="currentVehicle.address.street" ng-disabled="true"/>
				
				<br/>
				<br/>
				<!--HIER KOMMT WIEDER NE KARTE HIN-->
				{{ currentVehicle.lastDate }}
				<br/>
				{{ currentVehicle.lastLat }} ___ {{ currentVehicle.lastLon }}
				<br/>				
				
				<br/>
				Kilometer-Stand:	<input type="number" ng-model="currentVehicle.mileage" ng-disabled="editDisabled"/>
				<br/>
				
				<div ng-switch="editDisabled">
					
					<div ng-switch-when="false">
						<input type="button" ng-click="Dismiss_Changes()" value="Verwerfen" />
						<input type="button" ng-click="Safe_Changes()" value="Speichern" />
					</div>
					
					<div ng-switch-when="true">
						<input type="button" ng-click="EnableEditMode()" value="Bearbeiten" />
					</div>
					
				</div>
				
			</div>
			
			<div ng-switch-when="false">
				Bitte wählen Sie ein Fahrzeug in der linken Liste aus.
			</div>
			
		</div>
		
		
		
		<div ng-switch-when="add">
			
			Fahrzeug-Angaben:
			<br/>
			Nummernschild: 
			
			
			
			Slots insgesamt: <input type="number" min="1" ng-model="new_station.slots" ng-required />
			<br/>
			Slots belegt: <input type="number" min="0" max="{{new_station.slots}}" ng-model="new_station.slotsOccupied" ng-required />
			<br/>
			
			Strasse Nr.: {{ new_station.address.street }} {{ new_station.address.number }}
			
            <div id="map_vehicle_new" style="height: 400px;"></div>
			<br/>
			<br/>
			<input type="button" ng-click="Dismiss_New()" value="Verwerfen"/>
			<input type="button" ng-click="Safe_New()" value="Speichern"/>
			
		</div>
		
	</div>
  
</div>
