<div>
Fahrzeug View
  
  <div id="map_vehicles" style="height: 100px;"></div>
  
  <input ng-model="searchQuery" my-enter="Enter_Search()"/>
  
  <table>
	
		<tr>
			<td>
				ID
			</td>
			<td>
				Strasse
			</td>
		</tr>
		
		<tr ng-repeat="(key, vehicle) in vehicles track by $index" ng-click="Load_Details(key)">
			
			<td>
				{{ key }}
			</td>
			
			
			<td>
				{{ vehicle.address.street }}
			</td>
			
		</tr>
	
	</table>
	
	
	<br/>
	
	<input type="button" ng-click="Show_AddVehicle()" value="Hinzufügen"/>
	
	<br/>
	
	
	<div ng-switch="view">
		
		<div ng-switch-when="info" ng-switch="vehicle_selected">
			
			Fahrzeug-Informationen:
			<br/>
			
			<div ng-switch-when="true">
				
				<!--NICHT VERÄNDERBAR-->
				
				ID: {{ currentVehicle.vehicleID }}
				<br/>
				Nummernschild:	<input type="text" ng-model="currentVehicle.licensePlate" ng-disabled="true"/>
				<br/>
				
				Hersteller:	<input type="text" ng-model="currentVehicle.manufacturer" ng-disabled="true"/>
				<br/>
				Modell:	<input type="text" ng-model="currentVehicle.model" ng-disabled="true"/>
				<br/>
				Baujahr:	<input type="number" ng-model="currentVehicle.constructionYear" ng-disabled="true"/>
				<br/>
				Kilowatt:		<input type="number" ng-model="currentVehicle.kilowatts" ng-disabled="true"/>
				<br/>
				<br/>
				
				
				<!--VERÄNDERBAR AUßER-->
				
				<md-input-container flex-gt-sm>
					Reservierungszustand:
                       <md-menu>
						<md-button ng-disabled="editDisabled" ng-mouseenter="$mdMenu.open()">{{currentVehicle.bookingStateObj.text}}</md-button>
						<md-menu-content width="4" ng-mouseleave="$mdMenu.close()">
							<md-menu-item ng-repeat="item in bookingStates">
								<md-button ng-click="currentVehicle.bookingStateObj = item">
									{{item.text}}
								</md-button>
							</md-menu-item>
						</md-menu-content>
					</md-menu>
                </md-input-container>
				
				<md-input-container flex-gt-sm>
					Ladezustand:
                    <md-menu>
						<md-button ng-disabled="editDisabled" ng-mouseenter="$mdMenu.open()">{{currentVehicle.loadingStateObj.text}}</md-button>
						<md-menu-content width="4" ng-mouseleave="$mdMenu.close()">
							<md-menu-item ng-repeat="item in loadingStates">
								<md-button ng-click="currentVehicle.loadingStateObj = item">
									{{item.text}}
								</md-button>
							</md-menu-item>
						</md-menu-content>
					</md-menu>
                </md-input-container>
				
				
				<br/>
				Batteriestand:	<input type="number" ng-model="currentVehicle.chargeLevel" ng-disabled="editDisabled"/>
				<br/>
				Strasse		<input type="text" ng-model="currentVehicle.address.street" ng-disabled="true"/>
				
				<br/>
				<br/>
				<!--HIER KOMMT WIEDER NE KARTE HIN-->
				{{ currentVehicle.lastDate }}
				<br/>
				{{ currentVehicle.lastLat }} ___ {{ currentVehicle.lastLon }}
				<br/>				
				
				<br/>
				Kilometer-Stand:	<input type="number" ng-model="currentVehicle.mileage" ng-disabled="editDisabled"/>
				<br/>
				
				<div ng-switch="editDisabled">
					
					<div ng-switch-when="false">
						<input type="button" ng-click="Dismiss_Changes()" value="Verwerfen" />
						<input type="button" ng-click="Safe_Changes()" value="Speichern" />
					</div>
					
					<div ng-switch-when="true">
						<input type="button" ng-click="EnableEditMode()" value="Bearbeiten" />
					</div>
					
				</div>
				
			</div>
			
			<div ng-switch-when="false">
				Bitte wählen Sie ein Fahrzeug in der linken Liste aus.
			</div>
			
		</div>
		
		
			<div ng-switch-when="add">
                <md-toolbar class="md-hue-2">
                    <div class="md-toolbar-tools">
                        <h2 class="md-flex">Neues Fahrzeug hinzuf&uuml;gen</h2>
                    </div>
                </md-toolbar>
                <md-content layout-padding>
                    <md-input-container flex-gt-sm>
                        <input type="text" placeholder="Nummernschild" ng-model="new_vehicle.licensePlate" ng-required />
                    </md-input-container>
					
					<!--
                    <md-input-container flex-gt-sm>
                        <input type="number" placeholder="Ladezustand" ng-model="new_vehicle.chargingState" ng-required />
                    </md-input-container>
                    <md-input-container flex-gt-sm>
                        <input type="number" placeholder="Reservierungszustand" ng-model="new_vehicle.bookingState" ng-required />
                    </md-input-container>
					-->
                    <md-input-container flex-gt-sm>
                        <input type="number" placeholder="Kilometer-Stand" ng-model="new_vehicle.mileage" ng-required />
                    </md-input-container>
                    <md-input-container flex-gt-sm>
                        <input type="number" placeholder="Kilowatt" ng-model="new_vehicle.kilowatts" ng-required />
                    </md-input-container>
					<md-input-container flex-gt-sm>
                        <input type="number" placeholder="Batteriestand" ng-model="new_vehicle.chargeLevel" ng-required />
                    </md-input-container>
					
                    <md-input-container flex-gt-sm>
                        <input type="text" placeholder="Hersteller" ng-model="new_vehicle.manufacturer" ng-required />
                    </md-input-container>
                    <md-input-container flex-gt-sm>
                        <input type="text" placeholder="Modell" ng-model="new_vehicle.model" ng-required />
                    </md-input-container>
                    <md-input-container flex-gt-sm>
                        <input type="number" placeholder="Baujahr" ng-model="new_vehicle.yearOfContrustion" ng-required />
                    </md-input-container>
					
                    <md-input-container flex-gt-sm>
                        <input type="text" placeholder="Strasse" ng-model="new_vehicle.address.street" disabled />
                    </md-input-container>
                    <md-input-container flex-gt-sm>
                        <input type="text" placeholder="Nummer" ng-model="new_vehicle.address.number" disabled />
                    </md-input-container>
					<br/>
					
					<md-input-container flex-gt-sm>
						Reservierungszustand:
                        <md-menu>
							<md-button ng-mouseenter="$mdMenu.open()">{{new_vehicle.bookingStateObj.text}}</md-button>
							<md-menu-content width="4" ng-mouseleave="$mdMenu.close()">
								<md-menu-item ng-repeat="item in bookingStates">
									<md-button ng-click="new_vehicle.bookingStateObj = item">
										{{item.text}}
									</md-button>
								</md-menu-item>
							</md-menu-content>
						</md-menu>
                    </md-input-container>
					
					<br/>
					
					<md-input-container flex-gt-sm>
						Ladezustand:
                        <md-menu>
							<md-button ng-mouseenter="$mdMenu.open()">{{new_vehicle.loadingStateObj.text}}</md-button>
							<md-menu-content width="4" ng-mouseleave="$mdMenu.close()">
								<md-menu-item ng-repeat="item in loadingStates">
									<md-button ng-click="new_vehicle.loadingStateObj = item">
										{{item.text}}
									</md-button>
								</md-menu-item>
							</md-menu-content>
						</md-menu>
                    </md-input-container>
					
					<br/>

					<input type="text" id='search_input' value="" placeholder="Suchen"/>
					
					<div id="map_vehicle_new" style="height: 400px;"></div>
                    <br/>
                    <md-button class="md-raised md-primary button-to-right" ng-click="Safe_New()"> Speichern </md-button>
                    <md-button class="md-primary md-hue-1 button-to-right" ng-click="Dismiss_New()"> Verwerfen </md-button>
                </md-content>
            </div>
		
		
	</div>
  
</div>
